body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: mistyrose;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.container img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    margin-bottom: 20px;
}

.description h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    margin: 0;
}

.description p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 5px 0 0;
}

.link-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}

.link-box a {
    text-decoration: none;
    color: teal;
    display: block;
}

